{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Problem Page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href=" {% static 'css/bootstrap-icons.css' %} " rel="stylesheet">

    <link rel="stylesheet" href=" {% static 'css/slick.css' %} " />

    <link href=" {% static 'css/tooplate-little-fashion.css' %} " rel="stylesheet">

    <!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href=" {% url 'INDEX' %} ">
                    <strong><span>Sales & Stock </span> Monitoring System</strong>
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href=" {% url 'INDEX' %} ">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'ABOUT' %} ">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'PROBLEM' %} ">Post Problem</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'ALLPROBLEM' %} ">All Problem</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'FAQS' %} ">Faqs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'CONTACT' %} ">Contact</a>
                        </li>

                        {% if name %}
                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'LOGOUT' %} ">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'LOGIN1' %} ">Login</a>
                        </li>
                        {% endif %}
                    </ul>

                    {% if name %}
                    <div class="d-none d-lg-block"
                        style="font-size: 16px; color: #F54401; font-weight: 550; text-decoration: underline;">
                        Welcome {{name}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <header class="site-header section-padding d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-12">
                        <h1>
                            <span class="d-block text-primary">All Problems</span>
                            <!-- <span class="d-block text-dark">to get solution</span> -->
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="faq section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <!-- <form class="contact-form me-lg-5 pe-lg-3" role="form" method="POST">
                            {% csrf_token %}
                            <div class="form-floating mb-4">
                                <textarea id="message" name="problem" class="form-control"
                                    placeholder="Leave a comment here" required style="height: 160px"></textarea>
                                <label for="message">Tell us about your problem</label>
                            </div>
                            <div class="col-lg-5 col-6">
                                <input type="submit" class="btn custom-btn form-control mt-4 mb-3" value="Send">
                            </div>
                        </form> -->
                    </div>

                    {% if allProblems %}
                    <div class="col-lg-8 col-12">
                        {% for i in allProblems %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="data" style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                        margin: 20px 0px;
                        padding: 14px 32px;
                        align-items: center;
                        justify-content:space-between;
                        display: flex;
                        ">

                                <h6>
                                    {{i.problem}}
                                </h6>
                                <h6>
                                    {{i.count}}
                                </h6>

                                <input name="idOfProb" value="{{i.id}}" type="number" hidden="true">
                                <input name="plus" value="1" type="number" hidden="true">

                                {% if i.owner == name %}

                                <h6>You can't vote yourself</h6>
                                <!-- <h6>You can't vote</h6> -->
                                {% else %}
                                
                                {% if msg == 'Already Voted' %}

                                
                                {% else %}
                                <input type="submit" value="Votes">
                                <!-- <h6>Else if</h6> -->
                                {% endif %}

                                {% endif %}

                            </div>
                        </form>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-10 me-auto mb-4">
                    <h4 class="text-white mb-3"><a href=" {% url 'INDEX' %} ">Sales & Stock</a> Monitoring System
                    </h4>
                    <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright <strong>© 2022</strong></p>
                    <br>
                    <p class="copyright-text">Designed by <a href="https://www.tooplate.com/"
                            target="_blank">Tooplate</a></p>
                </div>

                <div class="col-lg-5 col-8">
                    <h5 class="text-white mb-3">Sitemap</h5>

                    <ul class="footer-menu d-flex flex-wrap">
                        <li class="footer-menu-item"><a href=" {% url 'ABOUT' %} " class="footer-menu-link">About</a>
                        </li>

                        <li class="footer-menu-item"><a href=" {% url 'PRODUCT' %} "
                                class="footer-menu-link">Products</a></li>

                        <li class="footer-menu-item"><a href=" {% url 'FAQS' %} " class="footer-menu-link">FAQs</a>
                        </li>

                        <li class="footer-menu-item"><a href=" {% url 'CONTACT' %} "
                                class="footer-menu-link">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-4">
                    <h5 class="text-white mb-3">Social</h5>

                    <ul class="social-icon">

                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                        <li><a href="#" class="social-icon-link bi-skype"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <!-- JAVASCRIPT FILES -->
    <script src=" {% static 'js/jquery.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src=" {% static 'js/Headroom.js' %} "></script>
    <script src=" {% static 'js/jQuery.headroom.js' %} "></script>
    <script src=" {% static 'js/slick.min.js' %} "></script>
    <script src=" {% static 'js/custom.js' %} "></script>


    <!-- PRINTING BACKEND MESSAGES -->
    {% if msg %}
    <script>alert('{{msg}}')</script>
    {% endif %}

</body>

</html>